--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision
Pillow
transformers
accelerate
safetensors
peft
sentencepiece
xformers
numpy>=2
tqdm
ftfy
git+https://github.com/huggingface/diffusers.git
datasets
huggingface_hub